### Notes: 

* Variables are like containers for storing data values. 
* A variable is created the moment, you first assign a value to it.
* A variable name cannot start with a number or sign 
    **(1name, &name, #name)**
* A variable name can only contain alpha-numeric characters and underscores 
    **(name, name1, _name)**
* Variable names are case-sensitive 
    **(name, Name and NAME are three different variables)**
* Variables do not need to be declared with any particular type, and can even change type after they have been set 
    **( name=1, name='one')**
* A variable name must start with a letter or the underscore character, it cannot start also with number
    **(1name)**
* You can assign a single value to several variables simultaneously
    **(a = b = c = 1)**
* You can also assign multiple objects to multiple variables
    **(a,b,c = 1,2,"name")**

In [1]:
_name = 1
print(_name)

1

In [2]:
name1 = 'Sugandh'
print(name1)

Sugandh

In [3]:
1name = 4
print(1name)

SyntaxError: invalid syntax (<ipython-input-3-3e7085e9a8a4>, line 1)

--naming convention into variable--

**- Snake case writing**

first_name_variable 

**- Camel case writing**

FirstNameVariable

## Variable Type // Data Type

The data stored in memory can be of many types. Python has five standard data types.

| Data Type | Example |
|----|----|
| int (integer) | 23 |
| float | 23.02 |
| str (String) | 'hello' |
| List | \['a',1,'b',2.02\] |
| Tuple | ('a',1,'b',2.02) |
| dict (Dictionary) | {'a':1,'b':2} |
| set | {'a',1,'b',2.02} |

dict = { key : value }

In [4]:
a = 25        # Integer variable 
print('Integer: ', a)

b = 25.20     # Float variable
print('Float: ', b)

c = 'Hello'   # String variable
print('string: ',c)

d = [10, 2.0, 'a','b']     # List variable
print('List: ',d)

e = (10, 2.0, 'a','b')     # Tuple variable
print('Tuple: ',e)

f = {1:'hello',2:24,'a':4.23}   # Dictionary
print('Dictionary: ',f)

g = {10, 2.0, 'a','b'}    # Set variable
print('Set: ',g)

Integer:  25
Float:  25.2
string:  Hello
List:  [10, 2.0, 'a', 'b']
Tuple:  (10, 2.0, 'a', 'b')
Dictionary:  {1: 'hello', 2: 24, 'a': 4.23}
Set:  {'a', 10, 2.0, 'b'}

### Getting the Data Type

You can get the data type of any object by using the type() function
    **(type(name))**

In [5]:
print(type(a))

<class 'int'>

In [6]:
print(type(b))

<class 'float'>

In [7]:
print(type(c))

<class 'str'>

In [8]:
print(type(d))

<class 'list'>

In [9]:
print(type(e))

<class 'tuple'>

In [10]:
print(type(f))

<class 'dict'>

In [11]:
print(type(g))

<class 'set'>