### SET

* Set is also one of the sequence and are used to store multiple items in a single variable, like, list and tuple
* It holds value within the curly braces {}, values seperated by comma
* Set is an unordered collection of unique items, that means it can't hold duplicate values
* Sets are unchangeable, but you can remove and add items
* Unchangeable means, that we cannot change the items after the set has been created
* Sets are unordered, so you cannot be sure in which order the items will appear, that's why it cannot be indexed as well
* Sets cannot have two items with the same value

In [1]:
set1={1,'two',3.33,'four',5}
print(set1)

{1, 3.33, 5, 'two', 'four'}

In [3]:
list1= ['red','blue','yellow','red','green','blue','red','blue']
print(list1)

['red', 'blue', 'yellow', 'red', 'green', 'blue', 'red', 'blue']

In [4]:
# convert a datatype to set by set method

set2 = set(list1)
print(set2)

{'yellow', 'red', 'green', 'blue'}

**List contained many values with duplicate items as well but set can't hold duplicate items so it carried only unique values**

In [5]:
print(len(set2))

4

In [6]:
print(type(set2))

<class 'set'>

### Add items in set

In [7]:
# Once a set is created, you cannot change its items, but you can add new items by using add() method

set2.add('orange')
print(set2)

{'red', 'green', 'orange', 'yellow', 'blue'}

In [8]:
# set 1 items can be added from another set or set2 by using update() method

set2.update(set1)
print(set2)

{1, 3.33, 'red', 5, 'green', 'two', 'orange', 'yellow', 'four', 'blue'}

In [9]:
# values in the update() method does not have to be a set, it can be any iterable object like - tuples, lists, dictionaries etc.)

list2 = [100,200,300,400]

set1.update(list2)

print(set1)

{1, 3.33, 100, 5, 200, 300, 400, 'two', 'four'}

In [10]:
# intersection_update() method will keep only the items of one set that are present in both sets
# it will keep only duplicates

x = {'orange','red','yellow','green'}
y = {'blue','white','red','green'}

x.intersection_update(y)

print(x)

{'red', 'green'}

In [11]:
# symmetric_difference_update() method will keep only the elements of one set that are NOT present in both sets

x.symmetric_difference_update(y)

print(x)

{'white', 'blue'}

### Join Sets

In [12]:
# update() method that inserts all the items from one set into another

set1.update(set2)
print(set1)

{1, 3.33, 5, 200, 400, 'green', 'blue', 'yellow', 100, 'red', 300, 'two', 'orange', 'four'}

In [13]:
# union() method that returns a new set containing all items from both sets

set3 = set1.union(set2)
print(set3)

{1, 3.33, 5, 200, 400, 'green', 'four', 'blue', 100, 'red', 300, 'two', 'orange', 'yellow'}

### Remove items from set

* To remove an item in a set, we use remove(), or discard() method
* The only difference between remove and discard method ius that
 - If the item to remove does not exist, remove() will raise an error
 - If the item to remove does not exist, discard() will NOT raise an error

In [14]:
set1.remove('blue')

In [15]:
set1.remove('blue')

KeyError: 'blue'

In [16]:
set1.discard('blue')
print(set1)

{1, 3.33, 5, 200, 400, 'green', 'yellow', 100, 'red', 300, 'two', 'orange', 'four'}

In [17]:
set2.remove('blue')
print(set2)

{1, 3.33, 'red', 5, 'green', 'two', 'orange', 'yellow', 'four'}

In [18]:
set2.discard('red')
print(set2)

{1, 3.33, 5, 'green', 'two', 'orange', 'yellow', 'four'}

An item can also be removed by using the pop() method. <br>
Remember that sets are unordered, so you will not know what item that gets removed.

In [19]:
x = set2.pop()

print('Removed item: ',x)

print(set2)

Removed item:  1
{3.33, 5, 'green', 'two', 'orange', 'yellow', 'four'}

You cannot access items in a set by referring to an index or a key<br>
But you can loop through the set items using a for loop

### Loop through Set

In [20]:
for i in set2:
    print(i)

3.33
5
green
two
orange
yellow
four

In [21]:
# You can check if the value is present in the set

print('orange' in set2)

True

### Set Methods

| Method | Description |
|----|----|
| add()	| Adds an element to the set | 
| clear() | Removes all the elements from the set | 
| copy() | Returns a copy of the set | 
| difference()	| Returns a set containing the difference between two or more sets | 
| difference_update() | Removes the items in this set that are also included in another, specified set | 
| discard()	| Remove the specified item | 
| intersection()	| Returns a set, that is the intersection of two other sets | 
| intersection_update()	| Removes the items in this set that are not present in other, specified set(s) | 
| isdisjoint()	| Returns whether two sets have a intersection or not | 
| issubset()	| Returns whether another set contains this set or not | 
| issuperset()	| Returns whether this set contains another set or not | 
| pop()	| Removes an element from the set | 
| remove()	| Removes the specified element | 
| symmetric_difference()	| Returns a set with the symmetric differences of two sets | 
| symmetric_difference_update()	| inserts the symmetric differences from this set and another | 
| union()	| Return a set containing the union of sets | 
| update()	| Update the set with the union of this set and others |