### Nested Dictionary

* A dictionary can contain dictionaries, this is called nested dictionaries

In [1]:
student ={
    'student1':
        {'name': 'Sugandh', 'class':'Python','Level':'Intermediate','year':2021},
    'student2':
        {'name': 'Sunaina', 'class':'Python','Level':'Beginner','year':2021},
    'student3':
        {'name': 'James', 'class':'SQL','Level':'Advance','year':2020},
    'student4':
        {'name': 'Sonia', 'class':'Java','Level':'Intermediate','year':2019}
}

print(student)

{'student1': {'name': 'Sugandh', 'class': 'Python', 'Level': 'Intermediate', 'year': 2021}, 'student2': {'name': 'Sunaina', 'class': 'Python', 'Level': 'Beginner', 'year': 2021}, 'student3': {'name': 'James', 'class': 'SQL', 'Level': 'Advance', 'year': 2020}, 'student4': {'name': 'Sonia', 'class': 'Java', 'Level': 'Intermediate', 'year': 2019}}

In [2]:
print(student['student2'])

{'name': 'Sunaina', 'class': 'Python', 'Level': 'Beginner', 'year': 2021}

In [3]:
print(student['student3']['name'])

James

In [4]:
student4={'name': 'Alice', 'class':'Python','Level':'Beginner','year':2019}
print(student4)

{'name': 'Alice', 'class': 'Python', 'Level': 'Beginner', 'year': 2019}

In [5]:
# to add new value in nested dictionary

student['student4']=student4

print(student)

{'student1': {'name': 'Sugandh', 'class': 'Python', 'Level': 'Intermediate', 'year': 2021}, 'student2': {'name': 'Sunaina', 'class': 'Python', 'Level': 'Beginner', 'year': 2021}, 'student3': {'name': 'James', 'class': 'SQL', 'Level': 'Advance', 'year': 2020}, 'student4': {'name': 'Alice', 'class': 'Python', 'Level': 'Beginner', 'year': 2019}}

In [6]:
# to add values

student['student4']['status']='married'
print(student)

{'student1': {'name': 'Sugandh', 'class': 'Python', 'Level': 'Intermediate', 'year': 2021}, 'student2': {'name': 'Sunaina', 'class': 'Python', 'Level': 'Beginner', 'year': 2021}, 'student3': {'name': 'James', 'class': 'SQL', 'Level': 'Advance', 'year': 2020}, 'student4': {'name': 'Alice', 'class': 'Python', 'Level': 'Beginner', 'year': 2019, 'status': 'married'}}

In [7]:
# to remove value(s)

del student['student4']['status']
print(student)

{'student1': {'name': 'Sugandh', 'class': 'Python', 'Level': 'Intermediate', 'year': 2021}, 'student2': {'name': 'Sunaina', 'class': 'Python', 'Level': 'Beginner', 'year': 2021}, 'student3': {'name': 'James', 'class': 'SQL', 'Level': 'Advance', 'year': 2020}, 'student4': {'name': 'Alice', 'class': 'Python', 'Level': 'Beginner', 'year': 2019}}

In [8]:
print(student.pop('student4'))

{'name': 'Alice', 'class': 'Python', 'Level': 'Beginner', 'year': 2019}

In [9]:
print(student)

{'student1': {'name': 'Sugandh', 'class': 'Python', 'Level': 'Intermediate', 'year': 2021}, 'student2': {'name': 'Sunaina', 'class': 'Python', 'Level': 'Beginner', 'year': 2021}, 'student3': {'name': 'James', 'class': 'SQL', 'Level': 'Advance', 'year': 2020}}

### Loops in dictionary

* You can loop through a dictionary by using a for loop.
* When looping through a dictionary, the return value are the keys of the dictionary
* to return the values, there are methods

In [10]:
# to print ail keys

for key in student4:
    print(key)

name
class
Level
year

In [11]:
# to print all values

for key in student4:
    print(student4[key])

Alice
Python
Beginner
2019

In [12]:
# we can also use values() method to return values of a dictionary

for key in student4.values():
    print(key)

Alice
Python
Beginner
2019

In [13]:
# key() method to print keys

for key in student4.keys():
    print(key)

name
class
Level
year

In [14]:
#  items() method will return key and value both as result

for key,val in student4.items():
    print(key,val)

name Alice
class Python
Level Beginner
year 2019

**You cannot copy a dictionary simply by typing dict2 = dict1, because: dict2 will only be a reference to dict1, and changes made in dict1 will automatically also be made in dict2**

In [15]:
# copy() allows you to make a copy of a dictionary

student_info = student.copy()
print(student_info)

{'student1': {'name': 'Sugandh', 'class': 'Python', 'Level': 'Intermediate', 'year': 2021}, 'student2': {'name': 'Sunaina', 'class': 'Python', 'Level': 'Beginner', 'year': 2021}, 'student3': {'name': 'James', 'class': 'SQL', 'Level': 'Advance', 'year': 2020}}

In [16]:
# loop through nested dictionary

for key,val in student_info.items():
    print("\nStudent No.:", key)
    
    for item in val:
        print(item, ':',val[item] )

Student No.: student1
name : Sugandh
class : Python
Level : Intermediate
year : 2021

Student No.: student2
name : Sunaina
class : Python
Level : Beginner
year : 2021

Student No.: student3
name : James
class : SQL
Level : Advance
year : 2020