## Tuples

* Like lists, Tuples are also used to store multiple items in a single variable.
* Tuples can also be indexed, have nested objects, ordered and repetition values
* The difference is that Tuples are immutable and also define by parantheses ()

In [1]:
tup = (1,2,'three',4.0,'five',6,7.77)
print(tup)

(1, 2, 'three', 4.0, 'five', 6, 7.77)

In [2]:
# To create a tuple with only one item, you have to add a comma after the item

tup1 = ('one',)
print(tup1)

('one',)

In [3]:
type(tup1)

tuple

In [4]:
tup2 = ('one')
type(tup2)

str

In [5]:
tup3 = tuple(('one'))
print(tup3)

('o', 'n', 'e')

In [6]:
type(tup3)

tuple

In [7]:
tup4 = tuple(('one',))
print(tup4)

('one',)

In [8]:
type(tup4)

tuple

In [9]:
# It is also possible to use the tuple() constructor to make a tuple

marvel = [' Guardians of the Galaxy',' Spider-Man: Far from Home',' Avengers: Endgame','Captain Marvel',' Ant-Man and the Wasp']
type(marvel)

list

In [10]:
movie =tuple(marvel)
type(movie)

tuple

In [11]:
print(movie)

(' Guardians of the Galaxy', ' Spider-Man: Far from Home', ' Avengers: Endgame', 'Captain Marvel', ' Ant-Man and the Wasp')

**NOTE:**
* Tuple is faster than list, because it is immutable
* we can define tuple as key in dictionary, if key has multiple values
* Values cannot be appended, inserted,popped or removed from a tuple

In [12]:
# Tuple items are indexed, the first item has index [0]

print(tup[0])

1

In [13]:
# Tuples can have items with the same value

tup5 = ('zero',1,2.22,'three',1,'zero')
print(tup5)

('zero', 1, 2.22, 'three', 1, 'zero')

In [14]:
# To check the length or number of items in the tuple

print(len(tup5))

6

In [15]:
# You cannot change a Tuple
# But you can convert the tuple into a list, change the list, and convert the list back into a tuple

movie = list(movie)

movie[2]='Home alone'

movie = tuple(movie)
print(movie)

(' Guardians of the Galaxy', ' Spider-Man: Far from Home', 'Home alone', 'Captain Marvel', ' Ant-Man and the Wasp')

In [16]:
# again to add in the tuple, you have to change the type to list and then back to tuple after adding an item to it

movie = list(movie)
movie.append(' Avengers: Infinity War')
movie = tuple(movie)
print(movie)

(' Guardians of the Galaxy', ' Spider-Man: Far from Home', 'Home alone', 'Captain Marvel', ' Ant-Man and the Wasp', ' Avengers: Infinity War')

In [17]:
# you can add tuples to tuples

christmas = ('Baby\'s Day Out','Christmas Carols')
movie += christmas
print(movie)

(' Guardians of the Galaxy', ' Spider-Man: Far from Home', 'Home alone', 'Captain Marvel', ' Ant-Man and the Wasp', ' Avengers: Infinity War', "Baby's Day Out", 'Christmas Carols')

In [18]:
# You cannot remove items from tuple, but you can delete the tuple completely

del christmas
print(christmas)

NameError: name 'christmas' is not defined

In [20]:
# When we create a tuple, we normally assign values to it. This is called "packing" a tuple

genre = ('Encanto','The Terminator','No Time to Die','Titanic')

In [21]:
# we are also allowed to extract the values back into variables. This is called "unpacking"

animation, Sci_Fi, action, drama = genre

print(animation)
print(Sci_Fi)
print(action)
print(drama)

Encanto
The Terminator
No Time to Die
Titanic

In [22]:
# If the number of variables is less than the number of values, you can add an * to the variable name and the values will be assigned to the variable as a list

genre = ('Encanto','The Terminator','No Time to Die','Titanic','Harry Potter','Casino Royale')

animation, Sci_Fi, action, *drama = genre

print(animation)
print(Sci_Fi)
print(action)
print(drama)

Encanto
The Terminator
No Time to Die
['Titanic', 'Harry Potter', 'Casino Royale']

In [23]:
# If the asterisk is added to another variable name than the last, Python will assign values to the variable until the number of values left matches the number of variables left

genre = ('Encanto','The Terminator','No Time to Die','Harry Potter','Casino Royale','Titanic')

animation, Sci_Fi, *action, drama = genre

print(animation)
print(Sci_Fi)
print(action)
print(drama)

Encanto
The Terminator
['No Time to Die', 'Harry Potter', 'Casino Royale']
Titanic

In [24]:
# create a tuple with repetition
 
rep = ('tuple',)*4
print(rep)

('tuple', 'tuple', 'tuple', 'tuple')

### Loops in Tuple

In [25]:
i=0
while i < len(genre):
    print(genre[i])
    i += 1

Encanto
The Terminator
No Time to Die
Harry Potter
Casino Royale
Titanic

In [26]:
for i in genre:
    print(i)

Encanto
The Terminator
No Time to Die
Harry Potter
Casino Royale
Titanic

In [27]:
for i in range(len(genre)):
    print(genre[i])

Encanto
The Terminator
No Time to Die
Harry Potter
Casino Royale
Titanic

### Creating tuple with range()

In [28]:
num=tuple(range(1,11))
print(num)

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

### Tuple methods

| Methods | Description |
|-----|-----|
| len(tuple) | Gives the total length of the tuple |
| max(tuple) | Returns item from the tuple with max value |
| min(tuple) | Returns item from the tuple with min value |
| tuple(seq) | Converts a list into tuple |
| tuple.count(item) | Returns the number of times a specified value occurs in a tuple |
| tuple.index(item) | Searches the tuple for a specified value and returns the position of where it was found |

In [29]:
print(max(num))

10

In [30]:
print(min(num))

1